{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
  <section class="container pt-3">
    <h1 class="mb-3">Inscription</h1>
    <div class="row">
      {{ form(registrationForm) }}
    </div>
  </section>

{% endblock %}